body {
   background: #380244;
background: radial-gradient(circle,rgb(122, 4, 148) 0%, #8708aa 15%, #a90fd8 27%, rgba(153, 33, 196, 1) 42%, rgb(149, 27, 209) 52%, hsl(277, 98%, 48%) 100%); color: white;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(151, 4, 144);
    padding: 20px;
    font-size: 32px;
    color: rgb(131, 12, 91);
}

.chamada {
    background: rgb(112, 21, 209);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(68, 26, 68);
}

.categoria h2 {
    color: rgb(27, 2, 22);
}
